# Copyright (c) 2024 EPAM Systems
#
# SPDX-License-Identifier: Apache-2.0


config DOMD_ENABLE
	bool "Enable builtin Domain-U1 kernel binary"
	default n

config DOMD_UBOOT_PATH
	string "Location for Domain-U1 kernel binary"
	depends on DOMD_ENABLE
        default "\"/path/to/uboot/file\""

config DOMD_DTB_PATH
	string "Location for Domain-U1 device-tree"
	depends on DOMD_ENABLE
        default "\"/path/to/dtb/file\""

config DOMU_ENABLE
	bool "Enable builtin Domain-U1 kernel binary"
	default n

config DOMU_ZEPHYR_PATH
	string "Location for Domain-U1 kernel binary"
	depends on DOMU_ENABLE
        default "\"/path/to/uboot/file\""

config DOMU_DTB_PATH
	string "Location for Domain-U1 device-tree"
	depends on DOMU_ENABLE
        default "\"/path/to/dtb/file\""


config USE_DEFAULT_DOM_CFG
	bool "Use default guest domain cfg"
	default y
	help
	  Use default guest domain cfg from domu_cfg.c for build.
	  if not selected the guest domain cfg source file will be selected as basing
	  on board/platform:
	    dom_cfg/${BOARD}.c.
	  For example, for RPI 5 the dom_cfg/rpi_5.c will be used.

config DOM_CFG_BOARD_EXT
	string "Use extention string to determine guest domain cfg"
	depends on !USE_DEFAULT_DOM_CFG
	help
	  Use it to add extention string to determine guest domain cfg file to build.
	  The guest domain cfg source file will be selected as following:
	    dom_cfg/${BOARD}_${DOM_CFG_BOARD_EXT}.c
	  This allows to specify number of guest domain configs for the same board.
	  For example:
	    rpi_5_xenvm.c
	    rpi_5_domu.c

config DOM_STORAGE_FATFS_ENABLE
	bool "Enable FATFS disk storage for reading domains kernels/dtb images"
	default n
	select DISK_ACCESS
	select FILE_SYSTEM
	select FAT_FILESYSTEM_ELM
	select XRUN
	help
	  Enables FATFS disk storage and adds possibility to read guest domains
	  kernels/dtb images from storage.

if DOM_STORAGE_FATFS_ENABLE

config FS_FATFS_MOUNT_MKFS
	default n

config FS_FATFS_WINDOW_ALIGNMENT
	default SDHC_BUFFER_ALIGNMENT

config FS_FATFS_LBA64
	default y

config FS_FATFS_EXFAT
	default y

config DOM_STORAGE_FATFS_DIR
	string "FATFS folder where domains kernels/dtb images"
	default "dom0/"
	help
	  FATFS folder where domains kernels/dtb images are located.
	  It should be ended with "/" symbol.

config DOM_STORAGE_FATFS_LOGICAL_DRIVE_NAME
	string "FATFS logical drive name to be used as mount point"
	default "0" if FS_MULTI_PARTITION
	default SDMMC_VOLUME_NAME
	help
	  FATFS logical drive name to be used as mount point.

config DOM_CFG_LINUX_PV_DOMAIN
	bool "Enable PV domain support loaded from FATFS storage"
	help
	  Adds Linux-based domain with enabled pvnet and pvblock devices.
	  It is expected to be placed on the storage device, connected to
	  Dom0.

endif #DOM_STORAGE_FATFS_ENABLE

config DOM_CFG_BUILTIN_IMAGES
	bool "Use built-in guest domains kernel/device-tree images"
	default y
	help
	  Use built-in guest domains kernel/device-tree images.

if DOM_CFG_BUILTIN_IMAGES

config DOM_CFG_DOMU0_IMAGE_BIN_FILE
	string "Location for Domain-U0 kernel binary"
	default "domu0_img.bin"

config DOM_CFG_DOMU0_DTB_BIN_FILE
	string "Location for Domain-U0 device-tree"
	default "domu0.dtb"

config DOM_CFG_DOMU1_ENABLE
	bool "Enable builtin Domain-U1 kernel binary"
	default n

config DOM_CFG_DOMU1_IMAGE_BIN_FILE
	string "Location for Domain-U1 kernel binary"
	depends on DOM_CFG_DOMU1_ENABLE

config DOM_CFG_DOMU1_DTB_BIN_FILE
	string "Location for Domain-U1 device-tree"
	depends on DOM_CFG_DOMU1_ENABLE

endif #DOM_CFG_BUILTIN_IMAGES

config DOM_COVERAGE_ENABLE
	bool "Enable code coverage with GCOV"
	depends on SHELL
	select FORCE_COVERAGE
	select COVERAGE
	help
	  Enable code coverage with GCOV and enable shell command to print GCOV
	  dump "gcov dump" in console.

config VCHAN_SHELL_CMDS
	depends on SHELL
	bool "Enable VCHAN echo server shell commands"
	help
	  Enable set of VCHAN echo server shell commands. All data incoming to
	  channel created by this server will be send back. This is for test
	  purposes. Server introduces 2 commands:
	  vchan start [domid]
	    Start echo server. domid - The peer domain that will be connecting
	    (0 by default)
	  vchan stop
	    Stop server

if VCHAN_SHELL_CMDS

config VCHAN_ECHO_BUFFER_SIZE
	int "Buffer size for echo server"
	default 10

config VCHAN_THREAD_STACK_SIZE
	int "vchan echo server thread size"
	default 2048

endif #VCHAN_SHELL_CMDS

source "Kconfig.zephyr"
